body{
    background: #e6e6e6;
    font-family: Arial;
    
}
*{
    box-sizing: border-box;
    text-decoration: none;
}

#container{
    background: f2f2f2;
    width: 90%;
    margin: -10px auto;
    overflow: hidden;
    padding: 10px;
}

nav{
    height: 86px;
    background: #667;
}

nav ul{
    margin: 0px;
    list-style-type: none;
    padding: 10px 70px;
    overflow: hidden;
}

nav li{
    float: left;
    margin-left: 10px;
}

nav li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav li a: hover:not(.active) {
    background-color:#1c1c1c;
}

.active {
    background-color: white;
    color: #667;
}

.clr {
    clear: both;
}

main {
    float: left;
    width: 70%;
}

aside{
    float: right;
    width: 30%;
    background: #1f004d;
    margin-top: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #667;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px;
}

input[type=text], 
select, 
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin: 6px 0 16px 0;
    resize: vertical;
}

input[type=submit]{
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, 
td{
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: wheat;
}

h2,
h3 {
    text-align: center;
    background-color: #b30086;
    padding: 10px 10px;
    margin-left: -10px;
    border-radius: 20px 0 0 20px;
    border: 5px solid #9ff781;
}

p::first-line {
    color: green;
}